/*this is my first proper CSS file */


body{

    background-color: #423158 ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(203, 218, 170);
    font-family: 'Lato', sans-serif;
}

h3{
    color: #598655;
    font-family: 'Lato', sans-serif;
}

p{font-family: 'Lato', sans-serif;
color: rgb(255, 255, 255);
}



.chart{
    width: 350px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}


