/*this is my first proper CSS file */


body{

    background-color: #a19086 ;
    max-width: 100%;
    margin: auto;

}

h1{

    color: rgb(238, 211, 211);
    font-family: 'Lato', sans-serif;
    font-size: 60px;
}

h2{

    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
}

h3{
    
    color: #ccc5b8;
    font-family: 'Lato', sans-serif;
}

p{
    
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
}


.title-bar{
  position: absolute;
  top:0%;
  left: 15%;
  width:85%;
  margin: 0;
  background-color:#FFFAF0;
  height: auto;
  line-height:0
  }

.title-bar h1{ 
  font-size: 65px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 50px;
  }

.title-bar p{ 
    font-size: 20px;
    font-weight: bold;
    margin: 50px;
    color: #ccc5b8;
}

.main-body{
    margin-top:25%;
    text-align: center;
    align-content: center;
    justify-content: center;
	
}

.hcontainer {
    
    	align-content: center;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	position: relative;
  	left: 120px;
  	width: 80%;
	margin-top: 20%
	margin-bottom: 20%
  	text-align: center;
  	border: 3px solid rgb(129, 116, 116);
  	border-top: none;
  	border-left: none;
  	border-right: none;
	padding: 30px;
    
}

.chart {
    
  background-color: white;
  width: 280px;
  min-width: 500px;
  align-items: center;
  justify-content: center;
  position:static;
  margin-left: 10px;
  margin-top: 10px;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  border-radius: 30px;
  text-align: center;
  padding: 10px;
  flex-flow: row wrap;
  
}

.chart:hover {
    
      transform: scale(1.04, 1.04);
      transition: 0.6s;
      
    }
