/*this is my project page CSS file */


body{

    background-color: #eee3e3;
    max-width: 1000px;
    margin: auto;
}

h1{

    color: rgb(161, 144, 134);
    font-family: 'Lato', sans-serif ;
}

h3{
    color: #a19086;
    font-family: 'Lato', sans-serif ;
}

p{font-family: 'Lato', sans-serif;
color: rgb(70, 65, 65);
}



.chart{
    width: 350px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}


