/*this is my project page CSS file */


body{

    background-color: #ffffff ;
    max-width: 450px;
    margin: auto;
}

h1{

    color: rgb(122, 94, 94);
    font-family: 'Poppins', sans-serif ;
}

h3{
    color: #a19086;
    font-family: 'Poppins', sans-serif ;
}

p{font-family: 'Poppins', sans-serif;
color: rgb(70, 65, 65);
}



.chart{
    width: 350px;
    border-width: 10px;
    background-color: white;
    border-style: solid;
    border-radius: 5px;
    border-color: white;
    margin: auto;


}


